:root {
  --montserrat: "Montserrat", serif;

  --light: #f3f3f3;
  --dark: #2b3541;
  --black: #010101;
  --yellow: #fbf138;

  --tr: 0.2s;
}

body {
  font-family: var(--montserrat);
}

a {
  text-decoration: none;
}

.container {
  /* width: 100%; */
  max-width: 1141px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 92px;
  margin-top: 45px;
  margin-bottom: 27px;
}

.header-logo {
  display: block;
  width: 97px;
  height: 30px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* .header-button {
  display: none;
  background-color: transparent;
  border: none;
  width: 29px;
  height: 22px;
  background-image: url(../images/header-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 4px; 
} */

.header-nav {
  flex-grow: 1;
  display: flex;
  gap: 54px;
}

.nav-link {
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.nav-link:hover {
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--dark);
  transform: translateY(-5px);
  transition: var(--tr);
}

.header-mail {
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.header-mail::before {
  content: "";
  display: block;
  background-color: var(--yellow);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: -1;
  left: -12px;
  bottom: -3px;
}

/* Hero */

.hero-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 130px;
}

.hero-desc {
  flex-basis: 59%;
  padding-top: 195px;
}

.hero-h1 {
  color: var(--dark);
  font-size: clamp(26px, 4vw, 48px);
  font-weight: 700;
  letter-spacing: 0.1vw;
  line-height: 60px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.hero-h2 {
  color: var(--dark);
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.06vw;
  margin-bottom: 0;
}

.hero-text {
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 19px;
  margin-left: 93px;
  max-width: 297px;
}

.hero-btn {
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01vw;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: block;
  padding: 20px 32px;
  margin-left: 93px;
  margin-top: 39px;
  max-width: 252px;
}

.hero-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
  transition: var(--tr);
  cursor: pointer;
}

.hero-bg {
  height: clamp(493px, 63vw, 852px);
  flex-basis: 41%;
  opacity: 0.2;
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
}

.hero-img {
  position: absolute;
  width: clamp(399px, 74vw, 996px);
  right: -10vw;
  bottom: 0;
}

.button-up {
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 52px;
  height: 55px;
  bottom: 3px;
  left: 18px;
}

/* Main */

.main-wrapper {
  margin-bottom: 162px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-h3 {
  color: var(--dark);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 26px;
  max-width: 356px;
}

.main-text {
  color: var(--dark);
  font-size: 28px;
  font-weight: 700;
}

.main-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 309px 90px 264px;
  grid-auto-flow: column;
  gap: 20px;
}

.main-item {
  border: #2b3541 1px solid;
  position: relative;
}

.main-item:hover {
  background: linear-gradient(rgba(251, 241, 56, 1), rgba(253, 249, 182, 0.45));
  border: none;
  cursor: pointer;
}

.main-diff {
  grid-row: span 2;
}

.main-time {
  color: var(--black);
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  padding-left: 206px;
  margin-top: 20px;
}

.main-img {
  position: absolute;
  bottom: 83px;
  padding-left: 28px;
}

.main-name {
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  bottom: 2px;
  left: 30px;
}

/* Mail */

.container-mail {
  background-color: var(--light);
}

.mail-wrapper {
  margin-bottom: 163px;
}

.mail-h3 {
  color: var(--dark);
  font-size: 40px;
  font-weight: 700;
  padding-top: 80px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.mail-h3::before {
  content: "";
  display: block;
  background-color: var(--yellow);
  border-radius: 100%;
  width: 53px;
  height: 53px;
  position: absolute;
  z-index: -1;
  left: 245px;
  top: 60px;
}

.mail-confirm {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-left: 10px;
}

.mail-form {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01vw;
  width: 372px;
  height: 65px;
  border: none;
  padding-left: 23px;
  box-sizing: border-box;
}

.mail-form:hover {
  cursor: pointer;
}

.mail-form:focus {
  outline: none;
  border: 1px solid var(--yellow);
}

.mail-form:invalid {
  outline: none;
  border: 1px solid red;
}

.mail-btn {
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.03vw;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: block;
  padding: 22px 38px 18px 46px;
  max-width: 225px;
}

.mail-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
  transition: var(--tr);
  cursor: pointer;
}

.mail-checkbox {
  padding-top: 15px;
  padding-left: 272px;
  display: flex;
}

.checkbox {
  opacity: 0;
}

.mail-checkbox-text {
  position: relative;
  display: inline-block;
  color: rgba(43, 53, 65, 0.5);
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 3px;
  margin-bottom: 80px;
}

.mail-checkbox-text::before,
.mail-checkbox-text::after {
  content: "";
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.checkbox:not(:checked) + .mail-checkbox-text::before {
  width: 16px;
  height: 16px;
  top: 0;
  left: -15px;
  border: 2px solid var(--dark);
}

.checkbox:checked + .mail-checkbox-text::before {
  width: 16px;
  height: 16px;
  top: 0;
  left: -15px;
  border: 2px solid var(--dark);
  background-color: var(--dark);
}

.checkbox:not(:checked) + .mail-checkbox-text::after {
  height: 12px;
  width: 12px;
  left: -13px;
  top: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
  opacity: 0;
}
.checkbox:checked + .mail-checkbox-text::after {
  height: 12px;
  width: 12px;
  left: -11px;
  top: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
  opacity: 1;
  transition: var(--tr);
}

.mail-btn-personal {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: rgba(43, 53, 65, 0.5);
}

.mail-btn-personal:hover {
  color: var(--black);
  transition: var(--tr);
}

/* Banner */

.banner-wrapper {
  margin-bottom: 155px;
}

.banner-header {
  display: flex;
  margin-bottom: 66px;
  justify-content: space-between;
}

.banner-desc {
  max-width: 483px;
}

.banner-h1 {
  color: var(--dark);
  font-size: 40px;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 23px;
}

.banner-text {
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 37px;
}

.banner-btn {
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01vw;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: block;
  padding: 20px 51px;
  max-width: 225px;
}

.banner-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
  transition: var(--tr);
  cursor: pointer;
}

.banner-img-div {
  width: 581px;
  height: 336px;
  /* background-image: url(../images/trainer.png);
  background-repeat: no-repeat;
  background-size: contain; */
}

.banner-img {
  width: 100%;
  height: 100%;
}

.banner-info {
  color: var(--dark);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.banner-details-1 {
  max-width: 231px;
}

.banner-details-2 {
  max-width: 282px;
}

.banner-details-3 {
  max-width: 221px;
}

.banner-details-4 {
  max-width: 204px;
}

.banner-info-header {
  font-weight: 700;
  padding-bottom: 2px;
}

.banner-info-text {
  font-weight: 400;
  opacity: 0.6;
  line-height: 27px;
}

/* Footer */

.container-footer {
  background-color: var(--light);
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 74px;
  padding-top: 43px;
  margin-bottom: 20px;
}

.footer-logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 97px;
  height: 30px;
}

.footer-nav {
  display: flex;
  flex-grow: 1;
  gap: 90px;
  padding-top: 7px;
}

.footer-link {
  color: var(--dark);
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.footer-link:hover {
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--dark);
  transform: translateY(-5px);
  transition: var(--tr);
}

.footer-mail {
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  padding-top: 7px;
}

.footer-info-grey {
  font-size: 14px;
  font-weight: 400;
  color: rgba(43, 53, 65, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-study {
  margin-top: 0;
}

.footer-study-link {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: rgba(43, 53, 65, 0.3);
}

.footer-study-link:hover {
  color: var(--black);
}

/* Media */

/* @media (max-width: 1300px) {
  .hero-img {
    right: -5vw;
  }
}

@media (max-width: 1220px) {
  .hero-img {
    right: -2vw;
  }
} */

@media (max-width: 1195px) {
  /* .container {
overflow: hidden;
} */
  .hero-img {
    right: 0vw;
  }
}

@media (max-width: 1015px) {
  /* .hero-img {
    width: clamp(399px, 64vw, 996px);
  } */
  .button-up {
    left: 0px;
  }
  .header-nav {
    display: none;
  }
}
