:root {
  --montserrat: "Montserrat", serif;

  --light: #f3f3f3;
  --dark: #2b3541;
  --black: #010101;
  --yellow: #fbf138;

  --tr: 0.2s;
}

body {
  font-family: var(--montserrat);
}

a {
  text-decoration: none;
}

.container {
  /* width: 100%; */
  max-width: 1141px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 56px;
  padding-top: 45px;
  padding-bottom: 27px;
}

.header-logo {
  display: block;
  width: 97px;
  height: 30px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.header-button {
  display: none;
  background-color: transparent;
  border: none;
  width: 29px;
  height: 22px;
  background-image: url(../images/header-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -4px;
  margin-left: -12px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  gap: 52px;
  margin-left: min(2.5vw, 140px);
}

.nav-link {
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.nav-link._linkheader:hover {
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--dark);
  transform: translateY(-5px);
  transition: var(--tr);
}

.header-mail {
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.header-mail::before {
  content: "";
  display: block;
  background-color: var(--yellow);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: -1;
  left: -12px;
  bottom: -3px;
}

/* Hero */

.hero-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 130px;
}

.hero-desc {
  flex-basis: 59%;
  padding-top: 195px;
}

.hero-h1 {
  color: var(--dark);
  font-size: clamp(26px, 4vw, 48px);
  font-weight: 700;
  letter-spacing: 0.1vw;
  line-height: 5vw;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.hero-h2 {
  color: var(--dark);
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.06vw;
  margin-bottom: 0;
}

.hero-text {
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 19px;
  margin-left: 93px;
  max-width: 297px;
}

.hero-btn {
  position: relative;
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01vw;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: block;
  padding: 20px 32px;
  margin-left: 93px;
  margin-top: 39px;
  max-width: 252px;
}

.hero-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
  transition: var(--tr);
  cursor: pointer;
}

.hero-bg {
  height: clamp(493px, 50vw, 852px);
  flex-basis: 41%;
  opacity: 0.2;
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
}

.hero-img {
  position: absolute;
  width: clamp(399px, 58vw, 996px);
  right: -11vw;
  bottom: 0;
}

.button-up {
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 52px;
  height: 55px;
  bottom: 0vw;
  margin-top: 46px;
}

/* Main */

.main-wrapper {
  margin-bottom: 162px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-h3 {
  color: var(--dark);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 18px;
  max-width: 356px;
}

.main-text {
  color: var(--dark);
  font-size: 28px;
  font-weight: 700;
}

.main-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 309px 90px 264px;
  grid-auto-flow: column;
  gap: 20px;
}

.main-item {
  border: #2b3541 1px solid;
  position: relative;
}

.main-item:hover {
  background: linear-gradient(rgba(251, 241, 56, 1), rgba(253, 249, 182, 0.45));
  border: none;
  cursor: pointer;
}

.main-diff {
  grid-row: span 2;
}

.main-time {
  position: absolute;
  color: var(--black);
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  right: 30px;
  margin-top: 20px;
}

.main-img {
  position: absolute;
  bottom: 83px;
  padding-left: 28px;
}

.main-name {
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  bottom: 2px;
  left: 30px;
}

/* Mail */

.container-mail {
  background-color: var(--light);
}

.mail-wrapper {
  margin-bottom: 163px;
}

.mail-h3-div {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.mail-h3 {
  display: inline;
  color: var(--dark);
  font-size: 40px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.mail-h3::before {
  content: "";
  display: block;
  background-color: var(--yellow);
  border-radius: 100%;
  width: 53px;
  height: 53px;
  position: absolute;
  z-index: -1;
  left: -34px;
  top: -18px;
}

.mail-confirm {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mail-form {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01vw;
  width: 372px;
  height: 65px;
  border: none;
  padding-left: 23px;
  box-sizing: border-box;
}

.mail-form:hover {
  cursor: pointer;
}

.mail-form:focus {
  outline: none;
  border: 1px solid var(--yellow);
}

.mail-form:invalid {
  outline: none;
  border: 1px solid red;
}

.mail-btn {
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.03vw;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: block;
  height: 65px;
  padding: 22px 38px 18px 46px;
  max-width: 225px;
}

.mail-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
  transition: var(--tr);
  cursor: pointer;
}

.mail-checkbox {
  padding-top: 10px;
}

.checkbox {
  opacity: 0;
}

.mail-checkbox-text {
  position: relative;
  display: inline-block;
  color: rgba(43, 53, 65, 0.5);
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 3px;
  margin-bottom: 80px;
}

.mail-checkbox-text::before,
.mail-checkbox-text::after {
  content: "";
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.checkbox:not(:checked) + .mail-checkbox-text::before {
  width: 16px;
  height: 16px;
  top: 0;
  left: -15px;
  border: 2px solid var(--dark);
}

.checkbox:checked + .mail-checkbox-text::before {
  width: 16px;
  height: 16px;
  top: 0;
  left: -15px;
  border: 2px solid var(--dark);
  background-color: var(--dark);
}

.checkbox:not(:checked) + .mail-checkbox-text::after {
  height: 12px;
  width: 12px;
  left: -13px;
  top: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
  opacity: 0;
}
.checkbox:checked + .mail-checkbox-text::after {
  height: 12px;
  width: 12px;
  left: -11px;
  top: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
  opacity: 1;
  transition: var(--tr);
}

.mail-btn-personal {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: rgba(43, 53, 65, 0.5);
}

.mail-btn-personal:hover {
  color: var(--black);
  transition: var(--tr);
}

/* Banner */

.banner-wrapper {
  margin-bottom: 155px;
}

.banner-header {
  display: flex;
  margin-bottom: 66px;
  justify-content: space-between;
  gap: 77px;
}

.banner-desc {
  flex-basis: 42%;
}

.banner-h1 {
  color: var(--dark);
  font-size: 40px;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 23px;
}

.banner-text {
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 37px;
}

.banner-btn {
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01vw;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: block;
  padding: 20px 51px;
  max-width: 225px;
}

.banner-btn:hover {
  background-color: var(--dark);
  color: var(--yellow);
  transition: var(--tr);
  cursor: pointer;
}

.banner-img-div {
  width: 581px;
  height: 336px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-info {
  color: var(--dark);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.banner-details-1 {
  max-width: 231px;
}

.banner-details-2 {
  max-width: 282px;
}

.banner-details-3 {
  max-width: 221px;
}

.banner-details-4 {
  max-width: 204px;
}

.banner-info-header {
  font-weight: 700;
  padding-bottom: 2px;
}

.banner-info-text {
  font-weight: 400;
  opacity: 0.6;
  line-height: 27px;
}

/* Footer */

.container-footer {
  background-color: var(--light);
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 74px;
  padding-top: 43px;
  margin-bottom: 20px;
}

.footer-logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 97px;
  height: 30px;
}

.footer-nav {
  display: flex;
  flex-grow: 1;
  gap: 90px;
  padding-top: 7px;
}

.footer-link {
  color: var(--dark);
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.footer-link:hover {
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--dark);
  transform: translateY(-5px);
  transition: var(--tr);
}

.footer-mail {
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
  padding-top: 7px;
}

.footer-info-grey {
  font-size: 14px;
  font-weight: 400;
  color: rgba(43, 53, 65, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
.footer-study {
  margin-top: 0;
}
.footer-study-link {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: rgba(43, 53, 65, 0.3);
}
.footer-study-link:hover {
  color: var(--black);
} 
*/

/* Modal */

.modal {
  top: -400px;
  display: none;
}

/* Media */

@media (max-width: 1450px) {
  /* hero */
  .hero-desc {
    padding-top: 120px;
  }
  .hero-h2 {
    margin-left: 0;
  }
  .hero-text {
    margin-left: 0;
  }
  .hero-btn {
    margin-left: 0;
  }
  .hero-img {
    right: -5vw;
  }
}

@media (max-width: 1270px) {
  /* hero */
  .hero-h2 {
    font-size: 26px;
  }
  .hero-text {
    font-size: 16px;
  }
  .hero-img {
    right: 0vw;
  }
}

@media (max-width: 1140px) {
  /* hero */
  .hero-desc {
    padding-top: 90px;
  }
}

@media (max-width: 1040px) {
  /* hero */
  .hero-desc {
    padding-top: 70px;
  }
}

@media (max-width: 934px) {
  /* hero */
  .hero-bg {
    flex-basis: 60%;
  }
  .hero-h1 {
    font-size: 26px;
  }
  .hero-desc {
    padding-top: 0;
  }

  /* main */
  .main-wrapper {
    margin-bottom: 97px;
  }
  .main-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 224px 224px 224px;
  }
  .main-diff {
    grid-row: span 1;
  }
  .main-time {
    right: 24px;
  }
  .main-img {
    padding-left: 24px;
  }

  /* mail */
  .mail-wrapper {
    margin-bottom: 90px;
  }

  /* banner */
  .banner-wrapper {
    margin-bottom: 76px;
  }
  .banner-header {
    margin-bottom: 34px;
  }
  .banner-desc {
    flex-basis: 50%;
  }
  .banner-h1 {
    margin-bottom: 19px;
  }
  .banner-text {
    margin-bottom: 34px;
  }
  .banner-info {
    display: grid;
    grid-template-columns: 48% 1fr;
    gap: 0;
  }
  .banner-info-header {
    padding-bottom: 0;
  }
}

@media (max-width: 890px) {
  /* header */
  .header-wrapper {
    position: relative;
  }
  .header-button {
    display: block;
  }
  .header-nav {
    display: none;
  }
  .header-mail {
    position: absolute;
    right: 0;
  }
  .nav._modal {
    width: 100%;
  }
  .nav-link._linkmodal {
    border-bottom: 1px solid var(--dark);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-link._linkmodal:hover {
    color: var(--dark);
  }
  .modal {
    background-color: var(--light);
    padding: 90px 15px;
    box-sizing: border-box;
    position: absolute;
    top: -400px;
    /* выставляем этот блок по центру страницы -> */
    left: 0;
    right: 0;
    margin: 0 auto;
    /* тут заканчиваем выставлять этот блок по центру страницы -> */
    width: 100%;
    max-width: 890px;
    text-align: left;
    transition: var(--tr);
    display: flex;
  }
  .modal-close {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 52px;
    right: 10px;
  }

  /* banner */
  .banner-desc {
    flex-basis: 56%;
  }
  .banner-text {
    margin-bottom: 20px;
  }

  /* footer */
  .footer-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  /* main */
  .main-box {
    gap: 10px;
  }
  .main-time {
    font-size: 16px;
  }
  .main-name {
    font-size: 16px;
    left: 24px;
  }

  /* banner */
  .banner-h1 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .banner-text {
    font-size: 16px;
    margin-bottom: 12px;
  }

  /* footer */
  .footer-info {
    padding-top: 20px;
  }
  .footer-year {
    display: none;
  }
}

@media (max-width: 720px) {
  /* hero */
  .hero-wrapper {
    display: inline;
  }
  .hero-h1 {
    line-height: 36px;
  }
  .hero-btn {
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
    justify-content: center;
    margin: 39px auto 76px auto;
  }
  .hero-bg {
    display: none;
  }
  .hero-img {
    display: none;
  }
  .button-up {
    display: none;
  }
}

@media (max-width: 690px) {
  /* mail */
  .mail-wrapper {
    margin-bottom: 76px;
  }
  .mail-h3 {
    font-size: 26px;
  }
  .mail-confirm {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .mail-info {
    max-height: 130px;
  }
  .mail-form {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .mail-btn {
    width: 100%;
    max-width: 690px;
    box-sizing: border-box;
    margin-bottom: 64px;
  }
}

@media (max-width: 571px) {
  /* main */
  .main-h3 {
    font-size: 26px;
    line-height: 100%;
  }
  .main-text {
    font-size: 16px;
    padding-top: 8px;
  }
  .main-time {
    font-size: 14px;
  }
  .main-name {
    font-size: 14px;
  }
}

@media (max-width: 535px) {
  /* main */
  .main-wrapper {
    margin-bottom: 76px;
  }
  .main-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 114px 114px 114px 114px 114px 114px;
    max-width: 100%;
  }
  .main-img {
    bottom: 41px;
    left: -12px;
  }
  .main-img-1 {
    width: 39px;
    height: 39px;
  }
  .main-img-2 {
    width: 34px;
    height: 53px;
  }
  .main-img-3 {
    width: 23px;
    height: 45px;
  }
  .main-img-4 {
    width: 39px;
    height: 37px;
  }
  .main-img-5 {
    width: 46px;
    height: 25px;
  }
  .main-img-6 {
    width: 35px;
    height: 40px;
  }
  .main-name {
    left: 12px;
  }

  /* banner */
  .banner-desc {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
  }
  .banner-img-div {
    display: none;
  }
  .banner-btn {
    width: 100%;
    margin: 0 auto;
    max-width: 535px;
  }
}

@media (max-width: 488px) {
  /* banner */
  .banner-wrapper {
    margin-bottom: 68px;
  }
  .banner-info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
  /* header */
  .header-wrapper {
    justify-content: space-between;
  }
  .header-mail {
    display: none;
  }
}

@media (max-width: 350px) {
  /* hero */
  .hero-h1 {
    font-size: 20px;
    line-height: 26px;
  }
  .hero-h2 {
    font-size: 20px;
  }
  .hero-text {
    font-size: 10px;
    line-height: 16px;
  }

  /* main */
  .main-h3 {
    font-size: 22px;
  }
  .main-text {
    font-size: 14px;
  }

  /* mail */
  .mail-checkbox-text {
    font-size: 7px;
  }

  /* footer */
  .footer-mail {
    display: none;
  }
}
